<div id="selection-bar">
    <h1>Search Here!</h1>
    
    <form (ngSubmit)="onSubmit()" #selectionForm="ngForm" id="inputform">
        <div class="form-group">
            <label for="categoryList">Categories</label>
            <select class="form-control" id="categories"  [(ngModel)]="selectedCategory" 
            name="category">
              <option *ngFor="let category of categoryList" [value]="category" required>{{category}}</option>
            </select>
          </div>
          <div class="form-group">
              <label for="idList">IDNumber</label>
              <select class="form-control" id="ids"  [(ngModel)]="selectedId" name="ID" required >
                <option *ngFor="let id of idList" [value]="id" >{{id}}</option>
              </select>
          </div>
          
          <button type="submit" class="btn btn-success">Submit</button>
         
    </form> 
    <h4 id="result">Result: {{receivedValue}}</h4>
  </div>